@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
}
/* Adjust the background color for dark mode */
body.dark-mode .dark-mode-switch label {
    background-color: #888;
}
/* Adjust the background color for dark mode */
body.dark-mode .dark-mode-switch label::after {
    background-color: #333;
}
body.dark-mode .h1 {
    color: white;
}
body.dark-mode .tile {
    background-color: #333;
    border: 3px solid rgb(32, 32, 32);
    color: white;
}
body.dark-mode .navbar {
    background-color: #292b2c;
}
body.dark-mode .navbar a {
    color: #ffffff;
}
body.dark-mode .navbar a:hover {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
}
body.dark-mode .foldable-menu {
    background-color: #292b2c;
}
body.dark-mode .menu-logo {
    border-bottom: 1px solid #e0e0e0;
}
body.dark-mode .footer {
    background-color: #333;
    color: white;
}

/* Basic Styles */
.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Align content space between */
    align-items: center; /* Center vertically */
    padding: 0 20px; /* Add padding to the sides */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.navbar-logo {
    padding: 10px; /* Adjust padding as needed */
    padding-right: 42px;
    max-height: 30px;
    max-width: 30px;
}
.navbar-logo img {
    border-radius: 5px;
    max-height: 30px; /* Adjust the height of the logo */
    max-width: 30px;
}
.foldable-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-logo {
    padding: 10px; /* Adjust padding as needed */
    padding-left: 30px;
    max-height: 30px;
    width: calc(100% - 40px);
    border-bottom: 1px solid #e0e0e0;
}
.menu-logo img {
    border-radius: 5px;
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    padding: 14px 15px;
    transition: color 0.3s;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.navbar a:hover {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
}
/* Dark mode switch styles */
.dark-mode-switch {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.dark-mode-switch label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
}
.dark-mode-switch label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}
.dark-mode-icon {
    font-size: 18px;
    margin-right: 10px; /* Add space between icon and label */
    color: #ffee00;
    display: flex;
    align-items: center;
    cursor: default;
    user-select: none;
}
input[type="checkbox"] {
    display: none; /* Hide the actual checkbox input */
}
input[type="checkbox"]:checked + label::after {
    transform: translateX(20px); /* Move the knob to the right */
}

/* Center Content */
.center-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.h1 {
    text-align: center;
}
.tile-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.tile {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    overflow: hidden;
    padding: 20px 0;
    text-decoration: none;
    color: black;
}
.tile:hover {
    transform: scale(1.1);
}
.tile p {
    margin-bottom: 9%;
    margin-top: 6%;
}
.tile img {
    width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
}

/* Footer */
.footer {
    text-align: center;
    padding: 5px;
    background-color: white;
    color: black;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .tile {
        width: 80%; /* Adjust width for mobile */
        max-width: 200px; /* Maximum width for mobile */
        margin: 10px auto; /* Center tiles */
    }
    .navbar-logo img {
        cursor: pointer; /* Add cursor pointer for clicking */
    }
    .navbar-left {
        display: none; /* Hide the original navbar links */
    }
    .foldable-menu.open {
        display: flex; /* Show the foldable menu when the open class is present */
    }
}